<div class='main-nav'>
    <div class='navbar navbar-dark bg-dark flex-column flex-nowrap align-items-stretch justify-content-start'>
        <div class='navbar-header d-flex align-items-center justify-content-between'>
            <a class='navbar-brand' [routerLink]="['/home']">TLWatch</a>
            <button type='button' class='navbar-toggler' (click)="collapse = !collapse">
                <span class='sr-only'>Toggle navigation</span>
                <span class='fa fa-bars'></span>
            </button>
        </div>
        <div class='navbar-collapse' [ngbCollapse]="collapse">
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='fa fa-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='fa fa-graduation-cap'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='fa fa-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/websocket']">
                        <span class='fa fa-plug'></span> WebSockets
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
